<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <script>
    (function() {
      // Kiểm tra token trong query string (?invite_token=xxx)
      const query = window.location.search;
      // Kiểm tra token trong hash (#invite_token=xxx)
      const hash = window.location.hash;

      if (query.includes("invite_token")) {
        window.location.replace("/admin/" + query);
      } else if (hash.includes("invite_token")) {
        window.location.replace("/admin/" + hash);
      }
    })();
  </script>
</head>
<body>
  <main>
    <h1>Welcome to {{ .Site.Title }}</h1>
    <p>If you are setting up your account, you will be redirected automatically...</p>
  </main>
</body>
</html>
